:root {
	--primary-background: #202020;
	--secondary-background: rgba(29,29,29,0.6);
    --emphasis-background: #191919;
    --separator: #5E6063;
    --font-color: white;
    --secondary-font-color: grey;
    --toast-font-color: white;
    --success-background: green;
    --fail-background: red;
    --unselectable-color: #3f0000;
}